<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CombinedSuite" parallel="classes" thread-count="1" configfailurepolicy="skip">

  <!-- First Test Suite: AutomationTestSuite1 -->
  <test name="AutomationTestSuite1">
    <classes>
      <class name="ORCA.koshexAppTest"/>
    </classes>
  </test> <!-- Test -->

  <!-- Second Test Suite: AutomationTestSuite2 -->
  <test name="AutomationTestSuite2">
    <classes>
      <class name="selauto.ActivityCls"/>
    </classes>
  </test> <!-- Test -->
  
  <!-- Second Test Suite: AutomationTestSuite2 -->
  <test name="AutomationTestSuite3">
    <classes>
      <class name="GPIO.ORCA_GPIO"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
